.sr-referral-input {
    display: inline-block;
    width: 100%; /* Ajustable desde Elementor */
    padding: 10px; /* Opcional */
    font-size: 16px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    word-wrap: break-word; /* Permitir que el texto se ajuste */
    white-space: normal; /* Hacer wrap del texto */
    overflow-wrap: break-word; /* Ajustar largas URLs */
    box-sizing: border-box;
}
.sr-copylink-notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #32373c;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    z-index: 9999;
    display: none;
    align-items: center;
    animation: sr-notification-fade 0.5s ease-in-out;
}

.sr-copylink-notification.show {
    display: flex;
}

.sr-copylink-notification .sr-close-notification {
    margin-left: 15px;
    cursor: pointer;
    font-weight: bold;
}

@keyframes sr-notification-fade {
    from { opacity: 0; }
    to { opacity: 1; }
}
